.section 
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	position: relative
.section__event
	margin-top: $gutter 
.container
	display: flex
	justify-content: flex-start
	align-items: center
	width: 100%
	max-width: 1440px
	position: relative
	flex-flow: column nowrap
	padding-left: 20px
	padding-right: 20px
.container__inside
	margin-top: $gutter 
	position: relative
	display: flex
	justify-content: flex-start
	align-items: flex-start
	width: 100%
	max-width: 956px
	flex-flow: column nowrap

.event__title
	font-weight: 500 
	font-size: 36px 
	line-height: 140% 	
.event__title__date
	font-weight: 400
	font-size: 16px
	line-height: 130%
	color: #818181
	margin-top: 20px
	span
		font-weight: 500
		font-size: 16px
		line-height: 130%
		color: #000000
		margin-left: 5px
.event__document__title
	white-space: nowrap
.event__document
	overflow: hidden
.event__bg__one
	background-image: url(#{$assetImages}/event__bg__one.png)
	background-repeat: no-repeat
	background-size: cover
	background-position: 0 0
	width: 100%
	height: 600px
	margin-top: $gutter*2
	margin-bottom: $gutter*2
.sidebar
	width: 300px
	
.event__desc
	font-weight: 500
	font-size: 20px
	line-height: 140%
.event__bg__two
	background-image: url(#{$assetImages}/event__bg__two.png)
	background-repeat: no-repeat
	background-size: cover
	background-position: 0 0
	width: 100%
	height: 600px
	margin-top: $gutter*2
	margin-bottom: $gutter*2
.event__desc__title
	font-weight: 600
	font-size: 32px
	line-height: 140%
	margin-bottom: $gutter
.event__documents 
	position: relative
	width: 100%
	display: grid
	grid-template-columns: repeat( auto-fit, minmax(410px, 1fr,) )  
	gap: 20px
	margin-bottom: 100px

.event__document__title
	font-weight: 500
	font-size: 18px
	line-height: 22px
.event__document__date
	font-size: 14px
	line-height: 17px
	color: #818181
.event__document
	border: 1px solid #E4E4E4
	border-radius: 12px
.event__document
	padding: 20px
.event__document__icon
	margin-right: 14px
.event__document__date
	margin-left: 40px
	margin-top: 5px
.event__slider__wrap
	display: flex
	position: relative
	width: 100%
	margin-top: $gutter*2
	margin-bottom: $gutter
.swiper-button-prev:after,.swiper-rtl .swiper-button-next:after
	content: url(#{$assetImages}/slider__icon__left.svg)
	margin-left: 22px
.swiper-button-next:after,.swiper-rtl .swiper-button-prev:after
	content: url(#{$assetImages}/slider__icon__right.svg)
	margin-right: 22px
.swiper-slide
	justify-content: center
	align-items: center
	img
		align-self: center
.event__slider__slide
	width: 100%
	object-fit: cover
.navigation
	position: absolute
	bottom: 20px
	left: 50%
	align-self: center
	width: 100%
	max-width: 400px